<!-- Content Header (Page header) -->
<div class="content content-header">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 id="padre" class="m-0 text-dark">Destinatarios </h1>

      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Está aqui &#187;</a></li>
          <li class="breadcrumb-item"><a href="home">PostService</a></li>
          <li class="breadcrumb-item active">Destinatarios</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->







<div class="container">

  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-user"></i>Novo Destinatario</button>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let destinatario of destinatario">
      <td><span>{{destinatario.id}}</span></td>
      <td><span>{{destinatario.nome}}</span></td>
      <td><span>{{destinatario.sobrenome}}</span></td>
      <td><span>{{destinatario.email}}</span></td>
      <td>
        <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, destinatario)">
          <i class="fa fa-search"></i>Detalhes</button>
        <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, destinatario)">
          <i class="fa fa-edit"></i>Editar</button>
        <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, destinatario)">
          <i class="fa fa-times"></i>Retirar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Novo Destinatario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

      <div class="form-group">
        <label for="nome">Nome</label>
        <div class="input-group">
          <input id="nome" name="nome" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="sobrenome">Sonbrenome</label>
        <div class="input-group">
          <input id="sobrenome" name="sobrenome" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" name="email" class="form-control" ngModel>
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>


<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalhes do Destinatario
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <div class="input-group">
          <input id="name" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="sobrenome">Sobrenome</label>
        <div class="input-group">
          <input id="sobrenome" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input id="mail" class="form-control" readonly>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Destinatario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="id">Id</label>
        <div class="input-group">
          <input formControlName="id" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="nome">Nome</label>
        <div class="input-group">
          <input formControlName="nome" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="sobrenome">Sobrenome</label>
        <div class="input-group">
          <input formControlName="sobrenome" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input formControlName="email" class="form-control">
        </div>
      </div>
      <div class="border text-center"> <button data-dismiss="modal" class="btn btn-info" (click)="onSave()" >Save Changes</button> </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmar Exclusão</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>
      Tem certeza que deseja deletar?</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Sim, Deleta!</button>
    </div>
  </div>
